<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>940290749673-qtqe7l79vg36vked7ai5kfsgh0ooaaln.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.940290749673-qtqe7l79vg36vked7ai5kfsgh0ooaaln</string>
	<key>API_KEY</key>
	<string>AIzaSyDPxJooFyoXISbd0SjLMuQXMvQFgZqIxek</string>
	<key>GCM_SENDER_ID</key>
	<string>940290749673</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.childImmunization</string>
	<key>PROJECT_ID</key>
	<string>vaccen-37112</string>
	<key>STORAGE_BUCKET</key>
	<string>vaccen-37112.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:940290749673:ios:06ad9f39e43dc2392eec78</string>
</dict>
</plist>